<!DOCTYPE>
<html lang="en">
    <head>
        <title>{% block title %}Green Pantry {% endblock %}</title>
        {% include 'snippets/css.html' %}
    </head>
    <body>
    <div class="container">
        <table>
            <tr>
                <td rowspan="2" colspan="2"><img src="https://s3.amazonaws.com/greenpantry-bucket/brand_logo.png" alt="Green Pantry" style="width:300px;height:100px;"></td>
                <td class="navTd">
                    <a href="#" class="navAnchor">My Pantry</a>
                </td>
                <td class="navTd">
                    <a href="#" class="navAnchor">My Meals</a>
                </td>
                <td class="navTd">
                    <a href="#" class="navAnchor">My Orders</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="col-lg-6" style="width: 630px;padding-left: 0px;padding-right: 0px;">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <h1>{% block tab_name %} {% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>
    {% include 'snippets/js.html' %}
    </body>
</html>