<!DOCTYPE>
<html lang="en">
    <head>
        <title>{% block title %}Green Pantry {% endblock %}</title>
        {% include 'snippets/css.html' %}
    </head>
    <body>
    <div class="container">
        <table>
            <tr>
                <td rowspan="2" colspan="2"><img src="https://s3.amazonaws.com/greenpantry-bucket/brand_logo.png" alt="Green Pantry" style="width:300px;height:100px;"></td>
                <td><div class="container-fluid col-xs-6 col-lg-6 yellow">
                    <h1>Hello</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
        <h1>Green Pantry</h1>
        {% block content %}
        {% endblock %}
    </div>
    {% include 'snippets/js.html' %}
    </body>
</html>