<!DOCTYPE>
<html lang="en">
    <head>
        <title>{% block title %}Green Pantry {% endblock %}</title>
        {% include 'snippets/css.html' %}
    </head>
    <body>
    <div class="container">
        <table>
            <tr>
                <td rowspan="2" colspan="2"><img src="https://s3.amazonaws.com/greenpantry-bucket/brand_logo.png" alt="Green Pantry" style="width:300px;height:100px;"></td>
                <td><div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Left</button>
                        <button type="button" class="btn btn-secondary">Middle</button>
                        <button type="button" class="btn btn-secondary">Right</button>
                    </div>
                </td>
            </tr>
            <tr></tr>
        </table>
        <h1>Green Pantry</h1>
        {% block content %}
        {% endblock %}
    </div>
    {% include 'snippets/js.html' %}
    </body>
</html>