{% extends "base.html" %}
{% block title %}
My Pantry || {{block.super}}
{% endblock %}

{% block tab_name %}
My Pantry
{% endblock %}

{% block mypantry %}
"navAnchorActive"
{% endblock %}

{% block mymeal %}
"navAnchorInactive"
{% endblock %}

{% block myorders %}
"navAnchorInactive"
{% endblock %}

{% block content %}
{% set i = 0 %}
<table>
{% for obj in object_list %}
{% if i%3 == 0 %}
<tr>
{% endif %}
<td>Image of {{obj.food_name}}</td> <td>{{obj.food_name}}</td>
    {% if i%3 == 0 %}
</tr>
    {% endif %}
    {% set i = i+1 %}
    {% endfor %}
</table>
{% endblock %}