{% extends "base.html" %}
{% block title %}
My Pantry || {{block.super}}
{% endblock %}

{% block tab_name %}
My Pantry
{% endblock %}

{% block mypantry %}
"navAnchorActive"
{% endblock %}

{% block mymeal %}
"navAnchorInactive"
{% endblock %}

{% block myorders %}
"navAnchorInactive"
{% endblock %}

{% block content %}

 <table>
    {% for objects in object_list %}
    <tr>
      {% for object in objects %}
      <td>Image of {{object.food_name}}</td>
      <td style = "color:{% if object.days_remaining <= 2 %}red {% elif object.days_remaining >= 5 %} green {% else %} orange {% endif %}">{{object.food_name}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}