{% extends "base.html" %}
{% block title %}
My Pantry || {{block.super}}
{% endblock %}

{% block tab_name %}
My Pantry
{% endblock %}

{% block mypantry %}
"navAnchorActive"
{% endblock %}

{% block mymeal %}
"navAnchorInactive"
{% endblock %}

{% block myorders %}
"navAnchorInactive"
{% endblock %}

{% block content %}

<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="float:right">+ Add Item</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <form action="/createProduct" method="post">
                    <div class="modal-body">
                        <input id="food_name" name="food_name" type="text" class="form-control" placeholder="Food Name" /></br>
                        <input id="Expiration" name="food_expiration_date" type="date" class="form-control" placeholder="Expiration Date" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Add</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="float:left" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table>
    {% for objects in object_list %}
    <tr>
      {% for object in objects %}
      <td><img src="https://s3.amazonaws.com/greenpantry-bucket/brand_logo.png" alt="Green Pantry" style="width:150px;height:50px;"></td>
      <td style = "font-weight: bold;color:{% if object.days_remaining <= 2 %}red {% elif object.days_remaining >= 5 %} green {% else %} orange {% endif %}">{{object.food_name}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}